<div id="discount_countdown">
            <span>Sale ends in</span>
            <br>
            <div class="progressBar_wrapper">
              <div class="progress-bar">
                <span id="bar-fill" class="progress-bar-fill" style="width: 20%;"></span>
                </div>
                   <span id="hours" class="theme-watch hours">00</span>
                   <span id="mins" class="theme-watch ">00</span>
                   <span id="seconds" class="theme-watch">00</span>
               </div>
 </div>
